.navbar{
    background-Color: #ef5550 !important;
}

.App {
    padding-top: 4rem;
    min-height: 100vh;
}
.button1 {
    background-color: #ef5550;
}
.button2 {
    background-color: lightblue;

}
.button3{
    background-color: yellow;
}
.center{
    display: block;
    margin-left: auto;
    margin-right: auto;
    
}